<div class="row">
  <div class="col-12">
    <input class="form-control me-2 mb-5" [(ngModel)]="filter" type="search" placeholder="Search" aria-label="Search">
  </div>
</div>
<div class="card mb-3" *ngFor="let post of postList$ | async | filterPost : filter">
  <div class="card-header justify-content-between d-flex">
      {{post.name}}
      <button class="btn" type="button" (click)="deletePost(post)">
        <i class="fa fa-trash"></i>
      </button>

  </div>
  <div class="card-body">
      {{post.description}}
  </div>
</div>
